package {{.LowerCase}}repository


import (
	"context"
	"database/sql"
	"fmt"

	"github.com/jmoiron/sqlx"

	"{{.Module}}/internal/logga"
	"{{.Module}}/internal/model/{{.LowerCase}}"
	"{{.Module}}/internal/repository"
	req "{{.Module}}/internal/request"
)

type Repo struct {
	l *logga.Logga
}

func New(logger *logga.Logga) *Repo {
	return &Repo {
		l: logger,
	}
}

func (r *Repo) Create(ctx context.Context, tx *sqlx.Tx, record *{{.LowerCase}}.{{.PascalCase}}) error {
	result, err := tx.Exec(insertRecordSQL, {{.InsertFields}})
	if err != nil {
		errMsg := fmt.Sprintf("there was an error saving record to db. %s", err)
		r.l.Error(ctx, errMsg, nil)

		return fmt.Errorf(errMsg)
	}

	lastInsertID, err := result.LastInsertId()
	if err != nil {
		return err
	}

	record.ID = int32(lastInsertID)

	return nil
}

func (r *Repo) Update(ctx context.Context, tx *sqlx.Tx, record *{{.LowerCase}}.{{.PascalCase}}) error {
	_, err := tx.NamedExec(updateRecordSQL, record)
	if err != nil {
		errMsg := fmt.Sprintf("there was an error saving record to db. %s", err)
		r.l.Error(ctx, errMsg, nil)

		return fmt.Errorf(errMsg)
	}

	return nil
}

func (r *Repo) Delete(ctx context.Context, tx *sqlx.Tx, record *{{.LowerCase}}.{{.PascalCase}}) error {
	_, err := tx.NamedExec(deleteRecordSQL, record)
	if err != nil {
		errMsg := fmt.Sprintf("there was an error saving record to db. %s", err)
		r.l.Error(ctx, errMsg, nil)

		return fmt.Errorf(errMsg)
	}

	return nil
}

func (r *Repo) GetByID(ctx context.Context, DB *sqlx.DB, ID int32, record *{{.LowerCase}}.{{.PascalCase}}) error {
	err := DB.Get(record, selectByIDQuery, ID)
	if err != nil {
		r.l.Error(ctx, "unable to fetch record", logga.KVPs{"ID": ID})

		return fmt.Errorf("unable to fetch record %d", ID)
	}

	return nil
}

func (r *Repo) GetCollection(ctx context.Context, DB *sqlx.DB, p *req.Request) ([]*{{.LowerCase}}.{{.PascalCase}}, error) {
	var (
		records []*{{.LowerCase}}.{{.PascalCase}}
		err     error
	)

	countQ, countParams := repository.BuildQuery(selectCollectionCountQuery, p, true)
	count, err := repository.GetRecordCount(DB, countQ, countParams)
	if err != nil {
		r.l.Error(ctx, "GetCollection()", logga.KVPs{"err": err})
	}
	p.SetRecordCount(count)

	q, params := repository.BuildQuery(selectCollectionQuery, p, false)
	err = DB.Select(&records, q, params...)
	if err != nil {
		return records, fmt.Errorf("unable to retrieve records: %s", err.Error())
	}

	return records, nil
}
